.sect-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64vh;
}
.status-session {
    position: absolute;
    top: 35%;
    margin: 20px 0;
}
.status-session p {
    color: #a52a2a;
    font-size: 22px;
    letter-spacing: 1px;
}

form {
    width: 100%;
    position: absolute;
    top: 90px;
}
form .sect-form-int {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 30px;
    width: 100%;
}

form .sect-form-int label {
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0 10px;
}

.upload_btn,
.delete_btn,
input[type="submit"],
button.result,
button.download_btn_acc,
.download_btn_rev,
.download_btn_inc {
    font-size: 15px;
    padding: 10px;
    margin: 0 10px;
    letter-spacing: 2px;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    width: 200px;
    text-align: center;
}

.upload_btn {
    background-color: #4e5c69;
    width: 400px;
}
.delete_btn {
    background-color: #a52a2a;
}
input[type="submit"] {
    background-color: #778899;
}
button.result,
button.download_btn_acc,
.download_btn_rev,
.download_btn_inc {
    background-color: #1e90ff;
}
.upload_btn:hover {
    background-color: #778899;
    cursor: pointer;
}
.delete_btn:hover {
    background-color: #d2691e;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}
button.result:hover,
button.download_btn_acc:hover,
button.download_btn_rev:hover,
button.download_btn_inc:hover {
    background-color: #00bfff;
}
button.result,
button.download_btn_acc,
button.download_btn_rev,
button.download_btn_inc,
.apiEnd {
    display: none;
    transition: display 0.3s ease-in;
}
button.result.active,
button.download_btn_acc.active,
button.download_btn_rev.active,
button.download_btn_inc.active,
.apiEnd.active {
    display: inline;
}
.sect-result {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    bottom: 30%;
    width: 100%;
    height: fit-content;
}

.sect-result a {
    margin: 0 30px;
}

.sect-result p,
.apiEnd p {
    font-size: 25px;
}

.apiEnd {
    border: none;
    background: none;
}
