.sect-cont {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.sect-rules {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.sect-rules p {
    font-size: 25px;
    letter-spacing: 1px;
}
.sect-test {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    font-size: 20px;
    letter-spacing: 1px;
}
#phone, input[type="submit"]{
    font-size: 20px;
    padding: 10px;
    margin: 0 10px;
    letter-spacing: 2px;
    border-radius: 15px;
    color: #000000;
    border: none;
    text-align: center;
}
#phone {
    border: 1px solid;
}
input[type="submit"] {
    background-color: #778899;
    width: 200px;
    color: #ffffff;
}
input[type="submit"]:hover {
    background-color: #000000;
    cursor: pointer;
}

#phone.error {
    border: 2px solid #ff0000;
}
.status-response {
    position: absolute;
    top: 20%;
}

.status-response p {
    font-size: 25px;
    color: #000000;
}

.status-response p.error {
    font-size: 25px;
    color: #de4545;
}
