/* GENERAL */
*, ::after, ::before {
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: normal;
}

body, html {
  margin: 0;
}

a, a:active, a:focus, a:hover, a:visited, button, button:active, button:focus,
button:hover, button:visited, input, input:active, input:focus, input:hover,
input:visited, textarea, textarea:active, textarea:focus, textarea:hover,
textarea:visited, select, select:active, select:focus, select:hover,
select:visited {
  outline: 0;
  text-decoration: none;
}

img, embed, object, video {
  max-width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

a, button {
  cursor: pointer;
}

.no-select, .no-select-all * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

.lazy-loading {
  opacity: 0;
}

.lazy-loaded.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
}

.title-unvis {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

/* ----------------------- CUSTOM ----------------------- */
*, body, html {
  font-family: sans-serif, Arial;
  color: #303945;
  scroll-behavior: smooth;
}

body, html {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

*.body-block {
  overflow: hidden;
}

body {
  position: relative;
}

body li {
  list-style-type: none;
}

/* LYBRARIES */
/* LAYOUT */
header {
  position: relative;
  width: 100%;
}

.pre-navbar {
  height: 100px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}

.pre-navbar h1 {
  font-size: 45px;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #B0C4DE;
  height: 100px;
}

.navbar div {
  position: relative;
  margin: 0px 50px;
}

.navbar a {
  font-size: 25px;
  letter-spacing: 1px;
}

/*----------------CONTENT-------------*/
.content {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

footer {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #718096;
}

/* COMPONENTS */
/* PAGE */
.sect-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64vh;
}

.status-session {
  position: absolute;
  top: 35%;
  margin: 20px 0;
}

.status-session p {
  color: #a52a2a;
  font-size: 22px;
  letter-spacing: 1px;
}

form {
  width: 100%;
  position: absolute;
  top: 90px;
}

form .sect-form-int {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

form .sect-form-int label {
  font-size: 22px;
  letter-spacing: 1px;
  margin: 0 10px;
}

.upload_btn,
.delete_btn,
input[type=submit],
button.result,
button.download_btn_acc,
.download_btn_rev,
.download_btn_inc {
  font-size: 15px;
  padding: 10px;
  margin: 0 10px;
  letter-spacing: 2px;
  border-radius: 15px;
  color: #ffffff;
  border: none;
  width: 200px;
  text-align: center;
}

.upload_btn {
  background-color: #4e5c69;
  width: 400px;
}

.delete_btn {
  background-color: #a52a2a;
}

input[type=submit] {
  background-color: #778899;
}

button.result,
button.download_btn_acc,
.download_btn_rev,
.download_btn_inc {
  background-color: #1e90ff;
}

.upload_btn:hover {
  background-color: #778899;
  cursor: pointer;
}

.delete_btn:hover {
  background-color: #d2691e;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

button.result:hover,
button.download_btn_acc:hover,
button.download_btn_rev:hover,
button.download_btn_inc:hover {
  background-color: #00bfff;
}

button.result,
button.download_btn_acc,
button.download_btn_rev,
button.download_btn_inc,
.apiEnd {
  display: none;
  transition: display 0.3s ease-in;
}

button.result.active,
button.download_btn_acc.active,
button.download_btn_rev.active,
button.download_btn_inc.active,
.apiEnd.active {
  display: inline;
}

.sect-result {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  bottom: 30%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sect-result a {
  margin: 0 30px;
}

.sect-result p,
.apiEnd p {
  font-size: 25px;
}

.apiEnd {
  border: none;
  background: none;
}
